
{% load    %}<footer class="main_page-footer">
    <div class="social-icons">
      <a href="https://www.facebook.com/profile.php?id=61554641284675" class="social-icon"
      ><img src="./static/images/icons8-facebook.svg" alt="Facebook"
      /></a>
      <a href="https://twitter.com/Cafe_Future" class="social-icon"
      ><img src="./static/images/icons8-xtwitt.svg" alt="Twitter"
      /></a>
      <a href="https://www.instagram.com/cafe_future_/" class="social-icon"
      ><img src="./static/images/icons8-instagram.svg" alt="Instagram"
      /></a>
    </div>
    <div>
      <p>&copy;2023 Your company. All rights reserved.</p>
    </div>
  </footer>