<header class="main_page-header">
    <img src="./static/images/icon.svg" alt="" class="logotype" />
    <div class="main_page-header-menu">
      <a href="{% url "main" %}" class="main_page-header-menu-btn">HOME</a>
      <a href="{% url "catalog" %}" class="main_page-header-menu-btn">MENU</a>
      <a href="{% url "tables" %}" class="main_page-header-menu-btn">TABLES</a>
      {% comment %} <a href="{% url "" %}" class="main_page-header-menu-btn">CONTACT US</a> {% endcomment %}
      <a href="{% url "registration" %}" class="main_page-header-menu-register-btn">Registration</a>
    </div>
  </header>