{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    {% comment %} <link rel="stylesheet" href="{% static "registration.css"
    %}}"> {% endcomment %}
  </head>
  <body>
    <form action="" method="POST">
      <h1 class="registration-form-title">Регистрация</h1>
      {% csrf_token %} {{form}}
      <button type="submit">Регистрироваться</button>
    </form>
  </body>
</html>
