body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reserved-tables-content {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    width: 800px; /* Задайте фиксированную ширину контента */
}

.reserved-tables-info {
    flex: 1;
    padding: 20px;
}

.reserved-tables-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.table-number {
    color: #555;
    font-size: 18px;
    margin-bottom: 15px;
}

.recerved_table-image {
    width: 100%;
    max-height: 300px; /* Максимальная высота изображения */
    object-fit: cover;
    border-radius: 8px;
}

.recerved_table-price {
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}

.reservation-list {
    list-style: none;
    padding: 0;
}

.reservation-item {
    color: #333; /* Изменено на более читаемый цвет текста */
    font-size: 16px; /* Увеличен размер шрифта для лучшей читаемости */
    margin-bottom: 8px; /* Увеличен отступ снизу для лучшего визуального разделения элементов */
    border-bottom: 1px solid #ddd; /* Добавлена линия между элементами для лучшего визуального разделения */
    padding-bottom: 8px; /* Увеличен отступ снизу элемента */
}

.no-reservation {
    color: #888;
    font-size: 16px;
}

.recerved-table {
    padding: 20px;
    text-align: center;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-left: 100px;
}

.recerved-table a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #ffcc00;
    color: #333;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.recerved-table a:hover {
    background-color: #e6b800;
}

.input {
    padding: 10px;
    margin: 10px 0;
}