<!-- Ваш файл templates/reserved_tables.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Reserved Table</title>
</head>
<body>
    <h1>Reserved Table</h1>

    <h2>Table №{{ table.table_number }}</h2>
    {% if reserved_tables %}
        <ul>
            {% for reserved_table in reserved_tables %}
                <li>Recervation №{{ reserved_table.id }} - {{ reserved_table.data }} - {{ reserved_table.duration }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>On the specified date there is no armor for the table №{{ table.table_number }}</p>
    {% endif %}
</body>
</html>
